.header {
    background-color: #2ecc71;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
}

.header-content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    width: 40px;
    margin-right: 15px;
}

.header-title {
    margin: 0;
    font-size: 24px;
}

.header-nav {
    margin-left: auto;
}

.header-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}
.header-title-link {
    color: white; /* 링크 색상 */
    text-decoration: none; /* 밑줄 제거 */
    font-size: 24px; /* 폰트 크기 */
    transition: color 0.3s; /* 색상 변화 애니메이션 */
}

.header-title-link:hover {
    color: #d4ffe6; /* 호버 시 색상 변화 */
}
.header-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.header-link:hover {
    color: #1e8449;
}

.header-link.active {
    font-weight: bold;
    text-decoration: underline;
}

.menu-highlight {
    font-weight: bold;
    font-size: 18px;
    background-color: #27ae60;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu-highlight:hover {
    background-color: #1e8449;
}
